.empty {
  margin-top: 5rem;
}

.heading {
  color: #646464;
  font-weight: 500;
  font-size: 2.5rem;
}

.criteriaList {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
