.header {
  position: fixed;
  height: 12rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--background-color);
  padding: 2rem 4rem;
}

@media only screen and (max-width: 48em) {
  .header {
    padding: 2rem;
  }
}
