.gemmerInfo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 2rem 0;
  grid-row-gap: 3rem;
  row-gap: 3rem;
  column-gap: 5rem;
}

.gemmerImageContainer {
  justify-self: center;
}

.gemmerImage {
  border-radius: 100%;
}

.noGemmerImage {
  position: relative;
  background-color: var(--color-darkgrey);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.noGemmerImage::before,
.noGemmerImage::after {
  content: "";
  position: absolute;
  background-color: var(--color-lightgrey);
}

.noGemmerImage::before {
  top: 10%;
  left: 50%;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  transform: translateX(-50%);
}

.noGemmerImage::after {
  bottom: 0%;
  width: 100%;
  height: 50%;
  border-radius: 100%;
}

.gemmerDetails {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.gemmerUsername {
  font-weight: 600;
  font-size: var(--font-size-2);
}

.gemmerInfoFlex {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}

.gemmerInfoNum {
  font-weight: 600;
}

.followers,
.following {
  cursor: pointer;
}

.followBtn {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.unfollowBtn {
  background-color: var(--color-lightblue);
  color: var(--color-white);
}

.editBtn {
  background-color: var(--color-darkgrey);
  color: var(--color-white);
}

@media only screen and (min-width: 48em) {
  .gemmerInfo {
    grid-template-columns: repeat(2, 1fr);
  }

  .gemmerImageContainer {
    justify-self: flex-end;
  }

  .gemmerDetails {
    align-items: flex-start;
  }
}
