.header {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  text-align: center;
  row-gap: 3rem;
}

@media only screen and (min-width: 36em) {
  .header {
    grid-template-columns: 1fr 15rem;
    text-align: start;
  }
}

.heading {
  font-weight: 500;
  font-size: var(--font-size-1);
  color: var(--font-color-lighter-1);
}
